#todoApp {
  max-width: 980px;
  margin: 50px auto;
}

md-content {
  background-color: transparent !important; }

md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

md-content md-tabs md-tabs-wrapper {
 background: white;
}

md-card {
  padding: 10px;
}

.li-button {
  text-align: left;
}

ul {
  list-style: none;
}

.completed {
  text-decoration: line-through;
}

.delete-button {
  font-size:10pt;
  color: crimson !important;
  opacity: .8;
  font-weight: bold;
}
