<div layout="column" id="todoApp">
  <md-content>
    <md-tabs  md-dynamic-height>
      <md-tab ng-repeat="list in lists track by $index" label="{{list.name}}" >
        <md-card>
          <div layout="row">
            <md-input-container flex>
             <label>New Item... </label>
             <input ng-model="list.todoText">
           </md-input-container>
           <md-input-container>
             <md-button class="md-primary" ng-click="addToList($index)">Add Item</md-button>
           </md-input-container>
          </div>
          <ul>
            <li ng-repeat="listItem in list.content">
              <div layout="row">
                <md-button
                  md-no-ink
                  class="md-icon-button delete-button"
                  ng-click="deleteListItem($parent.$index, $index)">
                  &#x2715
                </md-button>
                <md-button class="li-button" ng-model="listItem.completed" ng-click="markCompleted($parent.$index, $index)" flex>
                  <span ng-class="{'completed': listItem.completed}">{{listItem.text}}</span
                </md-button>
              </div>
            </li>
          </ul>
        </md-card>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
